.skillTreeContainer {
  background: url(https://minecraft.capta.co/Images/Background.jpg) #d3d3d3 50% /
    cover;
  width: 100%;
  height: 400px;
  box-shadow:
    -5px -5px 4px #00000080 inset,
    5px 5px 5px #00000080 inset;
}

.hoverModal {
  position: fixed;
  z-index: 1000;
  background-color: #232023;
  border: 2px solid #404040;
  border-radius: 10px;
  pointer-events: none;
  transform: translate(10px, 10px);
  min-width: 250px;
}

.hoverModal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 5px #ffffff4f;
  z-index: 2;
  border-radius: 10px;
}

.edgeInfo {
  padding: 15px;
  color: #00ff40;
  font-size: 20px;
}
